.home {
  display: flex;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}


.filters {
  background-color: rgba(23, 23, 23, 0.926);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 87vh;
}

.filters > span {
  padding-bottom:  20px;
}

.title {
  font-size: 30px;
}

.products {
  width: 30%;
  margin: 10px;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

.cartItemImg {
  width: 60px;
  height: 60px;
  border-radius: 90px;
  object-fit: cover;
  object-position: top;
}

.cartItemDetail {
  font-size: large;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}


@media (max-width: 771px) {
  .filters {
   width: 40%;
   padding: 10px;
   margin: 5px;
  } 
  .filters > span {
    padding-bottom:  10px;
  }

  .productContainer {
    width: 58%;
  }

  .search {
    display: none !important;
  }
 
  
  .products {
    width: 100%;
  }

  
 }